<h2>Resultados da busca</h2>

<h4>Fazer pesquisa:</h4>


<%= form_tag("/documents", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<%# <ul> %>
  <%# <% @documents.each do |document| %> %>
      <%# <li><%= link_to document.title, document.url, target: :_blank %></li>  %>
      <%# <% if params[:q] != nil && document.body.index(params[:q]) != nil %> %>
        <%# <p> <%= document.body[document.body.index(params[:q]), 100]%> </p> %>
      <%# <% end %> %>
  <%# <% end %> %>
<%# <ul> %>